@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  padding: 0;
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-nav {
  width: 100%;
  display: flex;
  height: 80px;
  align-items: center;
  justify-items: center;
}
.div-title {
  width: 100%;
  margin-left: 80px;
  justify-content: left;
  display: flex;
  justify-content: left;
  align-items: center;
}

.slogan {
  width: 40px;
  height: 36.36px;
}
.title {
  color: #173a56;
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 28px;
  width: 100px;
  height: 28px;
}

#links {
  display: flex;

  width: 100%;
  margin: 0 auto;
  padding: 10px;
}
#links ol {
  display: flex;
  justify-content: center;
  align-items: center;
}
#links > ol > li {
  display: flex;
  padding-left: 40px;
  list-style: none;
}
.links-nav {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #22343d;
}
a.active,
a:hover {
  color: #517b91;
  transition: 0.2s;
}
.login {
  height: 40px;
  width: 80px;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
  border: solid 1px #bcd0e5;
  color: #22343d;
  cursor: pointer;
}

.created {
  background-color: #02897a;
  color: #fff;
  height: 40px;
  width: 80px;
  border-radius: 10px;
  text-align: center;
  border: solid 1px #bcd0e5;
  margin-left: 10px;
  cursor: pointer;
}
#group-bottons {
  width: 280px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 23px;
}

#modo-nigth {
  margin-right: 100px;
  border-style: none;
  background-color: #fff;
  cursor: pointer;
}

#menu-checkbox {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  background: #fff;
  border-style: none;
  font-size: 20px;
  color: #22343d;
  font-weight: bold;
  cursor: pointer;
  display: none;
}

/*main*/
#section-work {
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 40px auto;
}
.text-description > h1 {
  color: #22343d;
  display: flex;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  width: 120%;
}
#Text-Work {
  font-family: "Poppins", sans-serif;
  color: #22343d;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
}
#btn-Work {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 50px;
  width: 100%;
}
#btn-start {
  background-color: #02897a;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  width: 175px;
  height: 40px;
  color: #fff;
  border-radius: 2px;
  border: solid 1px #22343d;
  margin-right: 10px;
  cursor: pointer;
}
#btn-play {
  background-color: #fff;
  border-style: none;
  color: #02897a;
  width: 161px;
  height: 25px;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  cursor: pointer;
  width: 80%;
}
#btn-play > i {
  margin-right: 10px;
}
#img-work {
  height: 550px;
  margin-left: 50px;
}
/*product*/
#product {
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#product h2 {
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  color: #22343d;
  text-align: center;
}
#all-products {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;

  text-align: center;
  font-style: normal;
  font-weight: bold;
  color: #22343d;
  margin-left: 60px;
}
#icon-click {
  width: 40px;
  height: 40px;
  background-color: #02897a;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 10px;
}
#icons {
  margin: 10px auto 0;
}
.products > p {
  font-size: 15px;
  font-weight: normal;
}
#icon-desing {
  width: 40px;
  height: 40px;
  background-color: #4d8dff;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 10px;
}
#icon-preference {
  width: 40px;
  height: 40px;
  background-color: #740a76;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 10px;
}
#icon-second {
  width: 40px;
  height: 40px;
  background-color: #f03e3d;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 10px;
}
#btn-product {
  color: #fff;
  background-color: #02897a;
  text-align: center;
  width: 170px;
  height: 50px;
  border-style: none;
  border-radius: 2px;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  cursor: pointer;
  margin-top: 50px;
}
/*description service */
#management {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: start;
  color: #22343d;
  margin-top: 200px;
}
.text-description {
  width: 15%;
}
.text-description h3 {
  font-size: 20px;
  font-weight: bold;
}
.text-description strong {
  font-size: 15px;
  font-weight: bold;
}
.text-description p {
  font-size: 13px;
}
#img-management {
  margin-left: 100px;
}
/*customer*/
#customer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: start;
  color: #22343d;
  margin-top: 200px;
}
#img-customer {
  margin-right: 100px;
}
#icons-check {
  display: inline-block;

  margin-right: 10px;
  position: relative;
}

.list-customer {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list-customer li {
  margin-top: 10px;
}

#check-yellow {
  color: #fff;
  background-color: #ff9900;
  width: 30px;
  height: 30px;
  border-radius: 12px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#check-red {
  color: #fff;
  background-color: #f03e3d;
  width: 30px;
  height: 30px;
  border-radius: 12px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#check-blue {
  color: #fff;
  background-color: #4d8dff;
  width: 30px;
  height: 30px;
  border-radius: 12px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-description li {
  width: 97%;
  font-size: 14px;
}
/*collaborative*/
#collaborative {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: start;
  color: #22343d;
  margin-top: 200px;
}
#img-collaborative {
  margin-left: 100px;
}

.active {
  display: block;
}
@media (max-width: 1200px) {
  #menu-checkbox {
    display: block;
  }
  .menu-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: gainsboro 0px 3px 3px;
  }
  #links {
    display: none;
    position: absolute;
    width: 100%;
    top: 90px;
    right: 0px;
    background: #e7e7e7;
    height: calc(100vh -70);
    z-index: 1000;
  }
  #links.active {
    display: block;
  }
  #group-bottons.active {
    display: block;
    margin-right: 10px;
  }
  .login {
    float: right;
    margin-left: 5px;
  }
  .created {
    float: right;
  }
  #group-bottons {
    display: none;
  }
  #modo-nigth {
    display: none;
  }
  .div-title {
    width: 50px;
    margin-left: 40px;
  }
  /*main*/
  #section-work {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin: 0 auto;
  }
  #img-work {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #img-work img {
    width: 467px;
    margin: 50px auto;
  }
  /*products*/
  #all-products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .products {
    margin: 20px auto;
  }
  /*description service*/
  #management {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  #img-management {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  #img-management img {
    width: 467px;
    margin: 50px auto;
  }
  .text-description {
    width: 65%;
  }
  /*customer*/
  #img-customer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  #img-customer img {
    width: 467px;
    margin: 50px auto;
  }
}
