@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  padding: 0;
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-nav {
  width: 100%;
  display: flex;
  height: 80px;
  align-items: center;
  justify-items: center;
}
.div-title {
  width: 100%;
  margin-left: 80px;
  justify-content: left;
  display: flex;
  justify-content: left;
  align-items: center;
}

.slogan {
  width: 40px;
  height: 36.36px;
}
.title {
  color: #173a56;
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 28px;
  width: 100px;
  height: 28px;
}

#links {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}
#links ol {
  display: flex;
  justify-content: center;
  align-items: center;
}
#links > ol > li {
  display: flex;
  padding-left: 40px;
  list-style: none;
}
.links-nav {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #22343d;
  width: 50%;
}
#links > ol > li :hover {
  color: #517b91;
  transition: 0.2s;
}
.login {
  height: 40px;
  width: 80px;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
  border: solid 1px #bcd0e5;
  color: #22343d;
  cursor: pointer;
}

.created {
  background-color: #02897a;
  color: #fff;
  height: 40px;
  width: 80px;
  border-radius: 10px;
  text-align: center;
  border: solid 1px #bcd0e5;
  margin-left: 10px;
  cursor: pointer;
}
#group-bottons {
  width: 280px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 23px;
}

#menu-checkbox {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  background: #fff;
  border-style: none;
  font-size: 20px;
  color: #22343d;
  font-weight: bold;
  cursor: pointer;
  display: none;
}

/*main*/
#section-work {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 40px auto;
}
.text-description > h1 {
  color: #22343d;
  display: flex;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  width: 90%;
}
#Text-Work {
  color: #22343d;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
}
#btn-Work {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 50px;
  width: 100%;
}
#btn-start {
  background-color: #02897a;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  width: 175px;
  height: 40px;
  color: #fff;
  border-radius: 2px;
  border: solid 1px #22343d;
  margin-right: 10px;
  cursor: pointer;
}
#btn-play {
  background-color: #fff;
  border-style: none;
  color: #02897a;
  width: 161px;
  height: 25px;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  cursor: pointer;
}
#btn-play > i {
  margin-right: 10px;
}
#img-work {
  height: 550px;
  margin-left: 50px;
}
/*product*/
#product {
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#product h2 {
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  color: #22343d;
  text-align: center;
  width: 28%;
}
.all-products {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
}
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  color: #22343d;
  margin-left: 60px;
}
#icon-click {
  width: 40px;
  height: 40px;
  background-color: #02897a;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 10px;
}
#icons {
  margin: 10px auto 0;
}
.products > p {
  font-size: 15px;
  font-weight: normal;
}
#icon-desing {
  width: 40px;
  height: 40px;
  background-color: #4d8dff;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 10px;
}
#icon-preference {
  width: 40px;
  height: 40px;
  background-color: #740a76;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 10px;
}
#icon-second {
  width: 40px;
  height: 40px;
  background-color: #f03e3d;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 10px;
}
#btn-product {
  color: #fff;
  background-color: #02897a;
  text-align: center;
  width: 170px;
  height: 50px;
  border-style: none;
  border-radius: 2px;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  cursor: pointer;
  margin-top: 50px;
}
/*description service */
#management {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: start;
  color: #22343d;
  margin-top: 100px;
}
.text-description {
  width: 40%;
}
.text-description h3 {
  font-size: 20px;
  font-weight: bold;
}
.text-description strong {
  font-size: 15px;
  font-weight: bold;
}
.text-description p {
  font-size: 13px;
}
#img-management {
  margin-left: 100px;
}
/*customer*/
#customer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: start;
  color: #22343d;
  margin-top: 100px;
}
#img-customer {
  margin-right: 100px;
}
#icons-check {
  display: inline-block;

  margin-right: 10px;
  position: relative;
}

.list-customer {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list-customer li {
  margin-top: 10px;
}

#check-yellow {
  color: #fff;
  background-color: #ff9900;
  width: 30px;
  height: 30px;
  border-radius: 12px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#check-red {
  color: #fff;
  background-color: #f03e3d;
  width: 30px;
  height: 30px;
  border-radius: 12px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#check-blue {
  color: #fff;
  background-color: #4d8dff;
  width: 30px;
  height: 30px;
  border-radius: 12px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-description li {
  width: 97%;
  font-size: 14px;
}
/*collaborative*/
#collaborative {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: start;
  color: #22343d;
  margin-top: 100px;
}
#img-collaborative {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}
/*conversation-service*/
#section-conversation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  width: 80%;
  color: #22343d;
  text-align: center;
}
#section-conversation p {
  font-size: 15px;
}
#section-conversation h2 {
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

.people-talking {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.text-people {
  width: 50%;
  background-color: #fff;
  border: solid 1px black;
  border-radius: 40px;
  text-align: center;
  margin: 0 20px;
}
.text-people p {
  width: 100%;
  color: #2f281e;
  font-size: 13px;
  margin-right: 10px;
  text-align: center;
}
.conversation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 20px auto;
}
#btn-contact {
  color: #fff;
  background-color: #02897a;
  text-align: center;
  width: 170px;
  height: 50px;
  border-style: none;
  border-radius: 2px;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  cursor: pointer;
  margin-top: 50px;
}
/*strategies*/
.contents-strategies {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #22343d;
}
.contents-strategies h2 {
  width: 35%;
}
#text-strategies {
  width: 65%;
  text-align: center;
  font-size: 15px;
}
.strategies {
  display: flex;
  width: 100%;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.all-strategies {
  width: 20%;
  margin-left: 20px;
  border-radius: 10px;
  background: #fff;
}
.all-strategies img {
  width: 100%;
}

.description-author {
  width: 80%;
  font-size: 11px;
}
.description-text {
  width: 90%;
  font-size: 15px;
  font-weight: bold;
}
.btn-strategies {
  border: solid 1px #dedede;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  border-radius: 10px;
  margin-top: 50px;
  cursor: pointer;
}
.btn-strategies:hover {
  background: #02897a;
}
/*price*/
.all-prices {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
  color: #22343d;
}
.price-list {
  display: flex;
  width: 70%;
  justify-content: space-around;
  margin-top: 30px;
}

.prices {
  width: 26%;
  display: flex;

  align-items: center;
  flex-direction: column;
  border: solid 1px #e0e0e0;
  border-radius: 10px;
  text-align: center;
  color: #22343d;
  font-size: 16px;
}
.prices h3 {
  font-size: 25px;
  font-weight: bold;
}
.price-number {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  color: #02897a;
}
.price-number number {
  width: 20%;
  font-size: 60px;
  font-weight: bold;
  margin-right: 10px;
}

.list-advantage ul {
  list-style: none;
  font-size: 14px;
  text-align: center;
}
.list-advantage li {
  margin-top: 10px;
}
.data-price {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin-left: 10px;
}
.data-price p {
  color: #afafaf;
}
.data-price strong {
  font-size: 20px;
  font-weight: bold;
}
.prices2 {
  width: 26%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px #e0e0e0;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  background-color: #02897a;
  font-size: 16px;
}
.price-number2 number {
  color: #fff;
  margin-right: 10px;
}
.data-price2 {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin-left: 10px;
}
.data-price2 p {
  color: #afafaf;
}
.data-price2 strong {
  font-size: 20px;
  font-weight: bold;
}
.price-number2 {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  color: #fff;
}
.price-number2 number {
  width: 20%;
  font-size: 60px;
  font-weight: bold;
}
.data-price2 p {
  color: #afafaf;
}
.data-price2 strong {
  font-size: 20px;
  font-weight: bold;
}
.prices2 h3 {
  font-size: 25px;
  font-weight: bold;
}
.price-number3 {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  color: #02897a;
}
.price-number3 number {
  width: 20%;
  font-size: 60px;
  font-weight: bold;
  margin-right: 20px;
}
.btn-price {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  text-align: center;
  background-color: #02897a;
  color: #fff;
  height: 40px;
  margin: 20px auto;
  cursor: pointer;
}
.btn-price2 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;

  text-align: center;
  background-color: #fff;
  color: #02897a;
  height: 40px;
  margin: 20px auto;
  cursor: pointer;
}
/*comented clients*/
.client-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #22343d;
  margin-top: 80px;
  width: 100%;
}
.client-section p {
  width: 50%;
  text-align: center;
}
.section-comented {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  width: 70%;
}
.comented {
  border: solid 1px #dedede;
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: center;
  border-radius: 5px;
  margin-top: 30px;
}
.comented ul {
  display: flex;
  list-style: none;
  margin-left: 20px;
}
.comented p {
  width: 70%;
  margin: 0 auto;
  font-size: 13px;
  text-align: center;
}
.icon-star {
  font-size: 13px;
  color: yellow;
  margin-left: 2px;
}
.desing-author {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 12px;
}
.info-desing strong {
  color: #02897a;
  font-size: 15px;
}
.info-desing p {
  color: #22343d;
  font-size: 11px;
  font-weight: bold;
}

/*graphic-compannies*/
.section-graphic {
  width: 60%;
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #02897a;
}
.text-graphic {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.text-graphic p {
  color: #fff;
  width: 70%;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin-left: 10px;
}

.img-graphic img {
  width: 100%;
}
.link-graphic {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  text-align: center;
  background-color: #fff;
  color: #02897a;
  height: 40px;
  margin-left: 35px;
  cursor: pointer;
}
/*footer*/
footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-top: 90px;
  color: #22343d;
}
.slogan-footer {
  display: flex;
  width: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
.slogan-ft {
  width: 100%;
  display: flex;
  margin-top: 3px;
  justify-content: center;
  align-items: flex-start;
}
.slogan-ft h1 {
  margin: 0px;
}
.icons-midia {
  display: flex;
  margin-top: 5px;
  width: 30%;
  justify-content: space-around;
}
.list-description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.item-list {
  display: flex;
  flex-direction: column;
  width: 20%;
  text-align: center;
}
.item-list ul {
  list-style: none;
  text-align: center;
  font-size: 13px;
}
.area-inscription {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 50px;
  width: 30%;
}
.input-description {
  border-radius: 5px;
  border: solid 1px #bcd0e5;
  margin: 10px 0px;
  height: 30px;
  width: 80%;
}
.btn-inscription {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  text-align: center;
  background-color: #02897a;
  color: #fff;
  height: 40px;
  margin: 3px 0px;
  cursor: pointer;
}

.active {
  display: block;
}
@media (max-width: 980px) {
  #menu-checkbox {
    display: block;
  }
  .menu-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: gainsboro 0px 3px 3px;
  }
  #links {
    display: none;
    position: absolute;
    width: 100%;
    top: 90px;
    right: 0;
    background: #e7e7e7;
    height: calc(100vh -70);
    z-index: 1000;
  }
  #links.active {
    display: block;
  }
  #group-bottons.active {
    display: block;
    margin-right: 10px;
  }
  .login {
    float: right;
    margin-left: 5px;
  }
  .created {
    float: right;
  }
  #group-bottons {
    display: none;
  }
  #modo-nigth {
    display: none;
  }
  .div-title {
    width: 50px;
    margin-left: 40px;
  }
  /*main*/
  #section-work {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin: 0 auto;
    width: 100%;
  }
  .text-description {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  #btn-Work {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
  }
  #img-work {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  #img-work img {
    width: 467px;
    margin: 10px auto;
  }
  /*products*/
  .all-products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #product h2 {
    width: 50%;
  }
  .products {
    margin: 20px auto;
  }
  /*description service*/
  #management {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  #img-management {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  #img-management img {
    width: 467px;
    margin: 10px auto;
  }
  .text-description {
    width: 65%;
  }
  /*customer*/
  #img-customer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  #img-customer img {
    width: 467px;
    margin: 10px auto;
  }
  /*collaborative*/
  #collaborative {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  #img-collaborative {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  #img-collaborative img {
    width: 467px;
    margin: 10px auto;
  }
  /*conversation*/

  #section-conversation {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  #section-conversation p {
    width: 100%;
  }
  .conversation {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .people-talking {
    text-align: center;
    margin-bottom: 20px;
  }
  .text-people {
    width: 100%;
  }

  .text-people p {
    width: 100%;
    color: #2f281e;
    font-size: 13px;
    margin-right: 10px;
    text-align: center;
  }
  /*strategies*/
  .contents-strategies {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contents-strategies h2 {
    width: 100%;
  }
  #text-strategies {
    width: 70%;
  }
  .strategies {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  .all-strategies {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  /*price*/
  .price-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .prices {
    width: 50%;
  }
  .prices2 {
    width: 50%;
    margin: 20px auto;
  }
  /*client*/
  .client-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .section-comented {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .comented {
    width: 70%;
  }
  .client-section p {
    width: 65%;
  }
  /*graphic-compannies*/
  .section-graphic {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .text-graphic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .text-graphic p {
    width: 80%;
  }

  .img-graphic img {
    width: 100%;
  }
  .link-graphic {
    width: 40%;
  }
  /*footer*/
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .slogan-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .icons-midia {
    width: 90%;
  }
  .list-description {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    width: 100%;
  }
  .item-list {
    width: 50%;
    text-align: center;
    margin: 0px 0px;
  }
  .area-inscription {
    width: 50%;
    text-align: center;
    margin: 0 auto;
  }
  .input-description {
    width: 100%;
    margin: 20px 0px;
  }
  .btn-inscription {
    width: 50%;
    margin: 0 auto;
  }
}
